body {
  font-family: "Merriweather", serif;
  color: black;
  background-color: white;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Hide the profile image on mobile devices */
@media (max-width: 767px) {
  #profile-image {
    display: none;
  }
}
