---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="max-w-[640px] mx-auto px-6 py-[72px]">
    <h1 class="text-4xl font-bold text-apple-dark dark:text-apple-light">Hello Astro</h1>
  </main>
</BaseLayout>
