---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Bio from '../components/Bio.astro'
import Education from '../components/Education.astro'
import CurrentWork from '../components/CurrentWork.astro'
import CTAButtons from '../components/CTAButtons.astro'
import SocialLinks from '../components/SocialLinks.astro'
import ScrollReveal from '../components/ScrollReveal.astro'
---

<BaseLayout>
  <main
    class="home max-w-[640px] mx-auto px-6 pt-[112px] pb-[72px] max-sm:px-5 max-sm:pt-[80px] max-sm:pb-[40px]"
  >
    <Hero />
    <Bio />
    <Education />
    <CurrentWork />
    <CTAButtons />
    <SocialLinks />
  </main>
  <ScrollReveal />
</BaseLayout>
