---

---

<section class="reveal mb-8">
  <div class="flex flex-wrap gap-2 mt-5">
    <a href="/res/cv.pdf" class="btn btn-primary" target="_blank">
      <i class="fa-solid fa-cloud-arrow-down"></i>
      <span data-i18n="resume-btn">Resume</span>
    </a>
    <a
      href="mailto:lperezzini@gmail.com"
      class="btn btn-outline"
      target="_blank"
    >
      <i class="fa-regular fa-envelope"></i>
      <span data-i18n="email-btn">Contact Me</span>
    </a>
  </div>
</section>
