---
---

<section class="reveal mb-8">
  <div class="flex flex-wrap gap-2 mt-5">
    <a href="/res/cv.pdf" class="btn btn-primary" target="_blank">
      <i class="fa-solid fa-cloud-arrow-down"></i> Download Resume
    </a>
    <a href="https://cal.com/perezzini" class="btn btn-outline" target="_blank">
      <i class="fa-regular fa-calendar"></i> Schedule a Call
    </a>
    <a href="mailto:lperezzini@gmail.com" class="btn btn-outline" target="_blank">
      <i class="fa-regular fa-envelope"></i> Send an E-mail
    </a>
  </div>
</section>
