---

---

<section class="reveal mb-8">
  <p data-i18n="education">
    Licentiate in Computer Science from
    <a href="http://unr.edu.ar" target="_blank"
      >Universidad Nacional de Rosario</a
    >
    (2019). Thesis conducted at
    <a href="https://www.cifasis-conicet.gov.ar/" target="_blank"
      >CIFASIS-CONICET</a
    >:
    <em
      ><a href="https://bit.ly/3n6JIUJ" target="_blank"
        >Towards Legal Engineering Decision Support Systems</a
      ></em
    >
    &#8212; LegalTech recommender systems built on Information Retrieval and Natural
    Language Processing.
  </p>
  <div class="flex flex-wrap gap-2 mt-5">
    <a href="/res/thesis.pdf" class="btn btn-outline" target="_blank">
      <i class="fa-regular fa-file-pdf"></i>
      <span data-i18n="thesis-btn">Thesis</span>
    </a>
  </div>
</section>
