---

---

<section id="publications" class="reveal mb-8">
  <h2 data-i18n="publications-heading">Academic publications</h2>
  <ul class="publications">
    <li>
      Perezzini, L., Casali, A., Deco, C.: Sistema de Soporte para la
      Recuperación de Normativas en la Ingeniería Legal. In: XLIX Simposio
      Argentino de Informática y Derecho (2020),
      <a
        href="https://49jaiio.sadio.org.ar/Anales/SID/Contribuciones"
        target="_blank">SID 2020</a
      >
      <a href="https://49jaiio.sadio.org.ar/pdfs/sid/SID-09.pdf" target="_blank"
        >[pdf]</a
      >
      <a href="https://youtu.be/q8MtVUa6-ZM?t=13143" target="_blank">[video]</a>
    </li>
  </ul>
</section>
