---

---

<section class="reveal mb-8">
  <div class="social-links">
    <a
      href="https://linkedin.com/in/perezzini"
      target="_blank"
      class="social-link"
      aria-label="LinkedIn"
    >
      <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a
      href="https://github.com/perezzini"
      target="_blank"
      class="social-link"
      aria-label="GitHub"
    >
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</section>
