---

---

<section class="reveal mb-8">
  <div class="social-links">
    <a
      href="https://linkedin.com/in/perezzini"
      target="_blank"
      class="social-link"
      aria-label="LinkedIn"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a
      href="https://github.com/perezzini"
      target="_blank"
      class="social-link"
      aria-label="GitHub"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://scholar.google.com/citations?user=Ad47r-MAAAAJ&hl=en"
      target="_blank"
      class="social-link"
      aria-label="Google Scholar"
    >
      <i class="fa-solid fa-graduation-cap"></i>
    </a>
    <a
      href="https://twitter.com/perezzini"
      target="_blank"
      class="social-link"
      aria-label="Twitter"
    >
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a
      href="https://behance.net/lperezzini"
      target="_blank"
      class="social-link"
      aria-label="Behance"
    >
      <i class="fa-brands fa-behance"></i>
    </a>
  </div>
</section>
